* {
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    
    
}
/*header*/
body {
    font-size: 26px;

    
}
header {
    background-color: #5680E9;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    width: 100%;
}
.by-ruben {
    font-size: 20px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    
    
}
nav input {
    font-size: 20px;
}
nav a {
    text-decoration: none;
    
}
a.jrs {
    text-decoration: none;
    color: #fff;
}
a.jrs:hover {
    color: #5AB9EA;
}
nav a:hover {
    color: #5AB9EA;
}
nav li {
    padding-left: 10px;
    padding-right: 50px;
    font-size: 30px;

}
nav a {
    color: #ffffff;
}

/*currently posts*/
.posts {
    background-color: #84CEEB;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.currently-posts2 {
    width: 500px;
    padding: 50px;

}
.currently-posts2 h1,
.currently-posts2 h2 {
    text-align: center;
    padding-bottom: 10px;
}
.currently-posts2 ul  {
    padding-left: 100px;
}
.currently-posts2 p {
    padding-top: 10px;
}

.old-posts {
    width: 30%;
    background-color: #84CEEB;;
    padding: 50px;

}
.old-posts ul {
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
}
.old-posts a {
    text-decoration: none;
    color: #05386B;
    
}
.old-posts a:hover {
color:#379683;
}
.old-posts li {
    padding-bottom: 10px;
}
.image-post {
    width: 600px;
}
/* comment*/
.comment {
    margin-top: 100px;
}
.comment h2 {
    text-align: center;
}
textarea {
    font-size: 20px;
}
/*write posts*/
.new-posts h2 {
    text-align: center;
}
.new-posts {
    padding: 50px;
    background-color: #5AB9EA;
    font-size: 20px;
 
}


.post-row {
    display: flex;
    justify-content: center;
    padding: 10px;
}
label {
    padding-right: 10px;
}
.btn-1 {
    background-color: #05386B;
    color: #ffffff;
    width: 80px;
    height: 50px;
}


/*footer*/
footer {
    background-color: #5680E9;
    color: #ffffff;
    padding: 10px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
}
.social-media {
    height: 60px;
}
.newsletter-container input{
    font-size: 26px;
}
.newsletter-container button{
    margin-top: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
}
.newsletter-container button:hover {
    background-color: #5AB9EA;
}
/*posts index*/
.posts-index {
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 100px;
    background-color: #5AB9EA;
    
}
.posts-indexh2 {
    margin: 0 auto;
}
.posts-index ul {
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
}
.posts-index a {
    text-decoration: none;
    color: #05386B;
    
}
.posts-index a:hover {
color:#379683;
}
.posts-index li {
    padding-bottom: 10px;
}
/*about me*/
.about-ruben {
    padding-top: 150px;
    background-color: #5AB9EA;
    height: 100%;
}
.about-ruben {
  margin: 0 auto;
}
.about-me {
    width: 60%;
    margin: 0 auto;
    text-align: center;

}
.about-me p {
    text-align: justify;
    padding-bottom: 10px;
}



/*media*/
@media only screen and (max-width: 700px) {
    nav ul {
        flex-wrap: wrap;
        
    }
    body { 
        font-size: 10px;
    }
    .old-posts {
        width: 60%;
    }
    .currently-posts2 {
        overflow: auto;
    }
    .inage-post {
        width: 10px;
    }
    .about-ruben img {
        width:100%;
    }
}
  @media only screen and (max-width: 1000px) {
    .posts {
        flex-wrap: wrap;
        overflow: scroll;
    }
    
    .header-container {
        flex-wrap: wrap;
        
    }
    body { 
        font-size: 16px;
    }
    .about-ruben img {
        width:100%;
    }
  }

